In [1]:
import os

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)

In [2]:
#################################################
# Database Setup
#################################################

app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///db/db_congress.db"
db = SQLAlchemy(app)

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(db.engine, reflect=True)

# Save references to each table
Members_Metadata = Base.classes.members

c:\users\adam\anaconda\anaconda3\envs\pythondata\lib\site-packages\flask_sqlalchemy\__init__.py:835: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [3]:
def line(state):
    stmt = db.session.query(Members_Metadata).statement
    df = pd.read_sql_query(stmt, db.session.bind)
    
    # Filter the data for the states selected
#     df_filtered = pd.DataFrame()
    
    df_filtered = df.loc[df['State'] == state].reset_index()
        
    # Group the dataframes
    df_filtered_grouped = df_filtered['SwornInAge'].groupby(df_filtered['Year'])
    df_grouped = df['SwornInAge'].groupby(df['Year'])
    df_ByState = df['SwornInAge'].groupby([df['State'], df['Year']])
#     d = df_filtered_grouped.mean().unstack()

    # Format the data to send as json
    data = {
        "Year": list(df_filtered_grouped.groups.keys()),
        "AverageAge": list(df_filtered_grouped.mean()), 
        "AverageTotal": list(df_grouped.mean())
    }
    
#     for index, row in d.iterrows():
#         data = {
# #             "State": [index],
#             "Year": list(d.columns),
#             "AverageAge": list(row)
#         }

    print (df_filtered_grouped.mean())
#     print(df_ByState.mean())

    return jsonify(data)
#     return data

with app.app_context():
   line('AK')

Year
1995    64.823333
1997    66.823333
1999    68.823333
2001    64.022500
2003    64.773333
2005    66.773333
2007    68.773333
2009    57.986667
2011    59.983333
2013    61.986667
2015    63.110000
2017    65.110000
2019    67.110000
Name: SwornInAge, dtype: float64

In [5]:
with app.app_context():
    line('MO')

Year
1995    55.537500
1997    52.525833
1999    55.090909
2001    52.903333
2003    53.618182
2005    54.250909
2007    56.544545
2009    59.094545
2011    56.980000
2013    55.605455
2015    56.936000
2017    58.936000
2019    58.292000
Name: SwornInAge, dtype: float64

In [6]:
def bar(year):
    stmt = db.session.query(Members_Metadata).statement
    df = pd.read_sql_query(stmt, db.session.bind)
    
    # Filter the data for the year selected
    
    df_filtered = df.loc[df['Year'] == year].reset_index()
        
    # Group the dataframes
    df_filtered_grouped = df_filtered['SwornInAge'].groupby(df_filtered['State'])
    df_grouped = df['SwornInAge'].groupby(df['State'])
    df_ByYear = df['SwornInAge'].groupby([df['Year'], df['State']])

    # Format the data to send as json
    data = {
        "State": list(df_filtered_grouped.groups.keys()),
        "AverageAge": list(df_filtered_grouped.mean()), 
        "AverageTotal": list(df_grouped.mean())
    }

#     return jsonify(data)
    return data

# with app.app_context():
bar(2019)

{'State': ['AK',
  'AL',
  'AR',
  'AS',
  'AZ',
  'CA',
  'CO',
  'CT',
  'DC',
  'DE',
  'FL',
  'GA',
  'GU',
  'HI',
  'IA',
  'ID',
  'IL',
  'IN',
  'KS',
  'KY',
  'LA',
  'MA',
  'MD',
  'ME',
  'MI',
  'MN',
  'MO',
  'MP',
  'MS',
  'MT',
  'NC',
  'ND',
  'NE',
  'NH',
  'NJ',
  'NM',
  'NV',
  'NY',
  'OH',
  'OK',
  'OR',
  'PA',
  'PR',
  'RI',
  'SC',
  'SD',
  'TN',
  'TX',
  'UT',
  'VA',
  'VI',
  'VT',
  'WA',
  'WI',
  'WV',
  'WY'],
 'AverageAge': [67.11,
  61.43222222222222,
  56.29,
  71.01,
  57.55000000000002,
  59.286363636363646,
  54.07444444444444,
  61.23714285714285,
  81.56,
  61.39000000000001,
  58.53034482758621,
  61.489375,
  37.92,
  55.342499999999994,
  58.86166666666666,
  64.26750000000001,
  57.44649999999999,
  55.052727272727275,
  58.17833333333334,
  59.96124999999999,
  55.30500000000001,
  56.82727272727272,
  65.07,
  60.25749999999999,
  56.67,
  55.944,
  58.29199999999999,
  63.96,
  58.11666666666667,
  58.81666666666666,
  59.981428571428566,
  54.0,
  55.22800000000001,
  58.4225,
  59.85714285714287,
  51.326,
  57.201666666666675,
  56.92655172413793,
  59.42499999999999,
  57.817142857142855,
  66.75142857142858,
  55.88449999999999,
  42.41,
  61.129999999999995,
  57.54444444444445,
  54.81333333333333,
  61.67181818181819,
  58.36263157894735,
  58.01166666666668,
  56.99307692307692,
  52.64,
  75.91666666666667,
  55.065,
  55.74400000000001,
  64.794,
  64.60333333333334],
 'AverageTotal': [64.608,
  56.30528925619835,
  52.018354430379745,
  62.379999999999995,
  55.73596899224802,
  57.58275103163693,
  53.67208695652172,
  57.39652631578946,
  69.55999999999997,
  60.543414634146345,
  54.36733146067416,
  57.56270408163264,
  65.27384615384616,
  63.81236363636364,
  59.35298850574709,
  57.17211538461543,
  54.420469314079426,
  51.652013422818825,
  54.05280487804878,
  58.30093457943926,
  51.469166666666666,
  57.07572327044026,
  59.9582575757576,
  55.609423076923115,
  58.76901345291475,
  55.89492424242423,
  55.77811188811184,
  58.96,
  55.143333333333345,
  57.38902439024389,
  58.735468749999995,
  55.00358974358973,
  54.144461538461506,
  53.098846153846154,
  56.946192893401005,
  55.257761194029904,
  55.449253731343255,
  56.679782608695696,
  54.867624521072706,
  51.514226804123695,
  57.02638297872339,
  54.98389473684208,
  50.51538461538462,
  51.633018867924505,
  57.90745454545453,
  50.02699999999998,
  55.57601398601394,
  57.903873085339185,
  57.224285714285706,
  57.080172413793136,
  56.70307692307692,
  65.93274999999998,
  53.68959459459464,
  53.181044776119485,
  61.92656716417903,
  60.986500000000014]}